
body { 
    background-color: #1B5E20; 
    font-family: "Old English Text MT", "Blackletter", cursive;
    margin: 0;
    padding: 0;
    color: #FFFFFF; 
}


h1 {
    height: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #FFFFFF;
    color: #000000; 
    padding: 15px;
}

h2, h3, h4 {
    background-color: #FFFFFF; 
    color: #000000; 
    padding: 8px 12px;
    border-radius: 6px;
    margin: 20px auto;
    width: fit-content;
}



p {
    height: 100px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.85);
    color: #1B5E20; 
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
}



video {
    border: 5px solid #4CAF50; 
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

audio { 
    background-color: #4CAF50; 
    border: 3px solid #1B5E20; 
    padding: 8px;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}


img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border: solid 5px white;
}



a {
    background-color: #FFFFFF; 
    color: #1B5E20; 
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #4CAF50; 
    color: #FFFFFF;
    transition: 0.3s;
}



.hi {
    color: #000000; 
}

#hola {
    color: #4CAF50; 
}

.hi #hola {
    color: #4CAF50;
}

  